POSTGRES_DB=axiom-db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_password

SPRING_DATASOURCE_URL=your_datasource_url
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=your_password

JWT_SECRET=your_jwt_secret
JWT_EXPIRATION=your_jwt_expiration

SPRING_APPLICATION_NAME=axiom

SPRING_FLYWAY_ENABLED=true
SPRING_FLYWAY_LOCATIONS=classpath:db/migration
SPRING_FLYWAY_BASELINE_ON_MIGRATE=true

SPRING_SECURITY_USER_PASSWORD=your_password


# Refresh token cookie
AUTH_REFRESH_COOKIE_NAME=
AUTH_REFRESH_COOKIE_PATH=
AUTH_REFRESH_COOKIE_MAX_AGE_SECONDS=
AUTH_REFRESH_COOKIE_HTTP_ONLY=true
AUTH_REFRESH_COOKIE_SECURE=true
AUTH_REFRESH_COOKIE_SAME_SITE=Lax
